<div class="owl-gallery row">
  {% if slideshow_title %}
    <h2 class="owl-title">{{ slideshow_title|e }}</h2>
  {% endif %}
  <ul class="small-block-grid-2 medium-block-grid-4 large-block-grid-4 photo-gallery">
    {% for id in image_ids %}
      {% set image = TimberImage(id) %}
      <li class="photo text-center">
        <a href="{{ image.src('large') }}" data-medium="{{ image.src('medium') }}" data-size="{{ image.src('large').width ~ 'x' ~ image.src('large').height }}" data-size-medium="{{ image.src('medium').width ~ 'x' ~ image.src('medium').height }}" title="{{ image.caption }}">
        </a>
      </li>
    {% endfor %}
  </ul>
</div>
